@import "../../../src/assets/css/theme.scss";

$table-border-radius: 20px;

.Movies {
  table {
    text-align: left;

    thead {
      th {
        cursor: pointer;
        color: $secondary-text-color;
        font-size: small;
        transition: ease-in-out 0.2s;

        .active-filter {
          color: $accent-color;
        }

        &:hover {
          color: $accent-color;
        }

        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          svg {
            height: 1.2rem;
          }
        }
      }
    }

    tbody {
      font-size: small;
      tr {
        cursor: pointer;
        border-bottom: 1px solid lightgray;
        td {
          vertical-align: middle;
        }
      }

      .options-dropdown {
        text-align: right;

        &::after {
          display: none;
        }
      }
    }
  }
}
