$primary-text-color: #485577;
$secondary-text-color: #aab5c3;
$accent-color: #e71d60;

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdown-menu {
  svg {
    margin-right: 10px;
    height: 1.2rem;
  }

  .dropdown-item {
    transition: ease-in-out all 0.2s;
    &:hover {
      color: $accent-color;
    }
  }
}

@media screen and (max-width: 768px) {
  .Sidebar .menu-heading {
    text-align: center;
  }

  .Sidebar .list-group a svg {
    margin-right: 0px;
  }
  .list-group-item {
    .item-wrapper {
      font-size: 0px;
      justify-content: center;
    }
  }
}
