@import "../../../assets/css/theme.scss";

.subscription-notification {
  position: absolute;
  top: 20px;
  right: 20px;

  .toast-header {
    color: $accent-color;
  }
}

.toast {
  background: #e71d600d;
}

.toast-component {
  display: none;
}
